
<div class="container" *ngIf='message'>
    <div class="alert alert-success"> {{message}} </div>
</div>

<div class="container">
    <h1>My Todo's</h1>
    <table class="table">
        <caption>My Todo List:</caption>
        <thead>
            <tr>
                <th>description</th>
                <th>due date</th>
                <th>done</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <!-- for loop in angular -->
        <!-- Java code as for(Type todo : todos) -->
        <tbody *ngFor="let todo of todos">
            <tr>
            <td>{{todo.description}}</td>
            <td>{{todo.dueDate|date}}</td>
            <td>{{todo.done}}</td>
            <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>