<div class="container">

    <h1>Welcome</h1>
    <!-- <p>{{name}}</p> -->

    You can manage your todos here: <a routerLink="/todos">Click me</a>

</div>

<div class="container">

    RESTful API call <br>

    <!-- <button (click)="getWelcomeMessage()" class="btn btn-success">Get message</button> -->
    <button (click)="getPathMessage()" class="btn btn-success">Get message</button>

    {{name}}


</div>

<!-- <div class="container" *ngIf="welcomeMessage">

    <H2>Customized Message</H2> <br>

    {{welcomeMessage}}

</div> -->

<div class="container" *ngIf="pathMessage">

    <h2>Todo List Info</h2>

    {{pathMessage}}

</div>