<div class="container">
    <h1>Edit todos here</h1><br>

    <div class="alert alert-warning" *ngIf="myForm.invalid && myForm.dirty"> Please enter description and date</div>

    <form (ngSubmit)="!myForm.invalid && saveTodo()" #myForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="todo.description"  name="description" required="required">
        </fieldset>
        <br>
        <fieldset class="form-group">
            <label>Due date</label>
            <input type="date" class="form-control" [ngModel]="todo.dueDate | date:'yyyy-MM-dd' " (ngModelChange)="todo.dueDate = $event" name="dueDate" required="required">
        </fieldset> 

        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>